@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:wght@300&display-swap');
*
{
    padding:0;
    margin:0;
}
.body{
    overflow:-moz-hidden-unscrollable;
}


.sidebar
{
   /* background-color: red;*/
    position:absolute;
    width: 200px;
    font-family:'Fira Sans', sans-serif;
    height:100rlh;
    background-color: rgb(207, 195, 195);
    box-shadow: 0 0 25px grey;
  


}
.sidebar nav{
    /*padding:25px;*/

    margin-top:150px;
    

}

.sidebar nav li{
    list-style-type:none;
    font-size:1.25em;
    padding:20px 0;
    padding-left:25px;
   
   

}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}

.main
{
    /*background-color: yellow;*/
    width:90vw;
    /*padding:23px;*/
    


}
.container
{
    display:flex;
  
}
.infoContainer
{
    /*background-color: blue;*/
    height:50vh;
    width:75vw;
    margin: 144px auto;
    display:flex;

    justify-content: space-around;
    position: absolute;
    left:300px;
    top:60px;


}
.devInfo
{
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-family: 'Source Code Pro',monospace;
}
.devPic img{
    
    width:500px;
    height:90vh;
    margin-left: 50px;
    margin-top:-200px;
   
    

    

}

.hello
{
font-size: 4em;
margin-top:10px;

}
.name{
font-size:3em;
font-weight:bold;
font-family:'Fira Sans', sans-serif;
}
.about
{
font-size: 1.25em;
font-weight: 600;

}
.moreabout
{
    font-size:1em;
    font-family:'Fira Sans', sans-serif;
    margin-top: 20px;

}
.buttons{
    margin-top:30px;
}
.buttons button{
padding:9px 14px;
border:3px solid black;
border-radius: 21px;
background-color:dodgerblue;
color:white;
font-weight: bold;
font-size:1em;
margin:0 3px;
cursor: pointer;
box-shadow: 2px 2px 10px black;

}
.buttons button:hover{
   
    background-color:white;
    color:dodgerblue;
    
    
    }
.buttons a{
    text-decoration: none;
}

.contactform
{
    padding:0 34px;
    font-family:'Fira Sans', sans-serif;
    position: fixed;
    top:140px;
    left:50px;
    margin:0 88px;

}
.contactform h1
{
    font-family: 'Source Code Pro',monospace;
   padding:12px 0;
    

}
.contactform form div{
    padding:8px 0;
    display:flex;
    flex-direction: column;
}
.contactform form div input{
  width:26vw;
  border-radius:5px;
  margin:6px 0 0 0;
  padding:3px ;
}
.contactform form div div{
    color:midnightblue;
    font-size:11px;
    margin:0 5px;
    padding: 3px 0 0 0;
}
#checkform 
{
  
   flex-direction: row;


}

#checkform input
{
    width:24px;
    margin:3px 0;
   


}
.sbutton{
    padding:7px 15px;
    border-radius: 21px;
    background-color:dodgerblue;
    color:white;
    font-weight: bold;
    font-size:15px;
    margin:0 3px;
    cursor: pointer;
}
.sbutton:hover{
   
    background-color:white;
    color:dodgerblue;
   
    
}
.blogContainer
{
    margin:88px;
}
.blogItem 
{
margin:20px;
font-family:'Fira Sans', sans-serif;

}
.blogContainer h1
{
    font-family:'Fira Sans', sans-serif;
    margin:23px
}
.blogItem p
{
    font-family: 'Source Code Pro',monospace;

}
.sbutton{
    margin:10px 0;
}
.intro{
    margin:88px;
    position: absolute;
    left:150px;
}
.intro h2,h3{
    font-family:'Fira Sans', sans-serif;

}
.intro p{
    font-family: 'Source Code Pro',monospace;
    margin:12px;
    line-height: 1.5;

}
.intro p+h2{
    margin-top:30px;
}
.skillcontainer .container {
    width: 100%;
    background-color: rgb(231, 231, 231);
    border-radius: 20px;
    margin-top:10px;
    
 }
 .skillcontainer h3{
    margin-top:15px;
 }
 .skillcontainer{
    margin-left:20px;
    margin-top:30px;
 }
 .html, .css, .js, .java,.py ,.bs{

    text-align: center;
    font-weight: bolder;
    padding-top: 3px;
    padding-bottom: 3px;
    color: white;
    border-radius: 20px;
    
 }
 .html {
    width: 95%;
    background-color: #4caf50;
    box-shadow:0 0 10px black;
  
 }
 .css{
    width: 90%;
    background-color: #2196f3;
 }
 .js{
    width:80%;
    background-color: #f44336;
 }
 .java {
    width: 95%;
    background-color: #0e2587;
 }
 .py {
    width: 70%;
    background-color: #8511a8;
 }
 .bs {
    width: 75%;
    background-color: #ff6488;
 }

.skillcontainer
{
    padding: 12px;
}
.skill
{
    width:250px;
    height:6px;
    background-color: red;
    border:2px solid black;
}
.skillcon{
    display:flex;
    align-items:center;
    font-family: 'Source Code Pro',monospace;
    font-weight:900;

}
.hundred
{
    width:250px;
    background-color:blueviolet;
}
.fifty
{
    width:125px;
    background-color: aqua;
}
.tw5{
    width:62px;
    background-color: yellow;
}
.hamburger
{
    position:absolute;
    cursor: pointer;
    top:5px;
    left:10px;
}
.cross
{
    background-color: whitesmoke;
    position: absolute;
    left:150px;
    top:5px;
    box-shadow:0 0 5px;

}
.ham{
margin-left:10px;
}
.sidebarGo
{
    display:none;

}

.li{
    box-sizing: border-box;
}
li:hover{
    box-shadow: 0 0 20px white;
}

.socialmedia{
    margin-top:70px;
    margin-left:50px;
}
.socialmedia .fa-brands {
  
    font-size: 40px;
    margin:20px;
    text-align: center;
 
    
}
.fa-facebook {
    color:#4267B2;
    background: white;
  }
  .fa-twitter {
    color: #1DA1F2;
    background-color: white;
  }
.fa-instagram{
    
    color: rgb(188, 38, 126);
}

.fa-linkedin{
    background-color:white;
    color: #0077b5;
    
}
.contactform{
    margin-left:20vw;
}
.service{
    position: relative;
    left:200px;
    width:80vw;
    
   top:200px;
}
.service .row{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh ;
    justify-content: space-between;
    justify-content: end;
    margin-left:50px;
    margin-top:50px;
    
    
}
.row h4{
    text-align:center;
    font-family: 'Source Code Pro',monospace;
    font-size: 1.5em;


}
.row p{
    line-height: 1.5;
    padding:10px;
}
.service h3{
text-align: center;
font-family:'Fira Sans', sans-serif;
font-weight:900;
font-size: 2em;
}
.socialmedia{
    display: flex;
    flex-wrap: nowrap;
}
@media(max-width:1050px)
{
    /*
    .container{
        display: flex;
        flex-direction: column;
    }*/
    .infoContainer{
        display: flex;
        flex-direction: column;
    }
    .infoContainer .devPic img{
        position: relative;
        height:50vh;
        width:30vh;
        margin-top:8vh
    }
    .row .col-1{
        grid-area:col1;
    }
    .row .col-2{
        grid-area:col2;
    }
    .row .col-3{
        grid-area:col3;
    }
    .row .col-4{
        grid-area:col4;
    }
    .row .col-5{
        grid-area:col5;
    }
    .row .col-6{
        grid-area:col6;
    }
    .service .row{
        grid-template-areas:'col1' 'col4' 'col2' 'col5' 'col3' 'col6';
    
        }
        
    }


    
